.to-do-list-container {
  display: grid;
  border-radius: 15px;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 5%;
  background-color: rgb(122, 181, 240);
}

.title h1 {
  display: grid;
  border-radius: 15px;
  width: 43%;
  height: auto;
  margin-left: 23.5%;
  margin-top: 5%;
  margin-bottom: 1px;
}

.task-title input {
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 65px;
  height: 25px;
  width: 80%;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  outline-color: #989898;
}
.list button {
  border: 5px solid #132a7e;
}
.task {
  display: grid;
  margin-left: 30%;
  background-color: rgb(201, 225, 244);
  height: auto;
  border-radius: 15px;
  width: 40%;
  color: black;
  margin-top: 10px;
}

.task.completed {
  background-color: rgb(22, 133, 51);
}
.addTask button,
.task-container .complete-btn {
  padding: 0.6rem 1.3rem;
  background-color: #ffffff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #043229;
  line-height: 1;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  width: 100%;
  display: grid;
}

.task-container {
  position: relative;
}

.task-container span {
  position: absolute;
  top: 5px;
  margin-left: 310px;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}
.addTask button:hover {
  background-color: rgb(12, 39, 150);
  color: #fff;
}

.addTask input {
  margin-top: 20px;
  height: 40px;
  width: 80%;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  outline-color: #989898;
}

.to-do-list-container h1 {
  font-size: xx-large;
  color: rgb(242, 236, 236);
}

.to-do-list-container h2 {
  font-size: medium;
  color: black;
}
