.to-do-list-container {
  display: grid;
  border-radius: 15px;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 5%;
  background-color: rgb(122, 181, 240);
}

.title h1,
.to-do-list-container h1,
.to-do-list-container h2 {
  display: grid;
  border-radius: 15px;
  width: 43%;
  margin-left: 23.5%;
  margin-top: 5%;
  margin-bottom: 1px;
}

.task-title input {
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 65px;
  width: 80%;
  display: grid;
  font-size: 15px;
}

.addTask button {
  padding: 0.6rem 1.3rem;
  background-color: #ffffff;
  border: 1px solid #fafafa;
  font-size: 0.95rem;
  color: #043229;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  width: 100%;
  display: grid;
}

.addTask button:hover {
  background-color: rgb(51, 70, 147);
  color: #fff;
}

#priority-options {
  display: flex;
  position: absolute;
  right: 56%;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  width: 10%;
}

.text-input input {
  width: 80%;
}
