.to-do-list-container {
  display: grid;
  border-radius: 15px;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 5%;
  background-color: rgb(122, 181, 240);
}

.title h1,
.to-do-list-container h1,
.to-do-list-container h2 {
  display: grid;
  border-radius: 15px;
  width: 43%;
  margin-left: 23.5%;
  margin-top: 5%;
  margin-bottom: 1px;
}

.task-title input {
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 65px;
  height: 25px;
  width: 80%;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  outline-color: #989898;
}

.addTask button {
  padding: 0.6rem 1.3rem;
  background-color: #ffffff;
  border: 1px solid #fafafa;
  font-size: 0.95rem;
  color: #043229;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  width: 100%;
  display: grid;
}

.addTask button:hover {
  background-color: rgb(12, 39, 150);
  color: #fff;
}

.addTask input {
  margin-top: 20px;
  height: 40px;
  width: 80%;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  outline-color: #989898;
}

/* .selection {
  margin-top: 20px;
  display: grid;
  margin-right: 74%;
  border: none;
} */

.dropdown-container select {
  width: 80px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
} 

.text-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 20px;
}
/* .selection {
  background-color: #ffffff;
  color: #333;
  padding: 4px 5px;
  cursor: pointer;
  border: 2px solid #413e3e;
  border-radius: 14px;
} */
