.tic-tac-toe-container{
    clear: both;
    display: table;
    align-items: normal;    
    position: fixed; /* or absolute */
    top: 30%;
    left: 41%;

}
.status{
    position: fixed; /* or absolute */
    top: 60%;
    left: 45%;
}

h3 {
color: aliceblue;
padding: 10px;
font: 3em sans-serif;
align-items: normal;
font-size: 20px;
}

.square{
    border: 1px solid blue;
    float: left;
    font-size: 40px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: pointer;
}