.quiz-container,
.end-screen-container,
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(27, 174, 167);
  width: 500px;
  height: 550px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-y: auto;
}
.quiz-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.quiz-container h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-container button,
.quiz-container button,
.end-screen-container button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.menu-container button:hover,
.quiz-container button:hover,
.end-screen-container button:hover,
.quiz-container button.selected {
  background-color: rgb(0, 66, 128);
  color: white;
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.quiz-options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
