/* use flexbox to center the elements  */
/* body {
  background-color: rgb(20, 4, 88);
} */
.timer-container {
  margin-top: 150px;
  left: 250px;
  width: 500px;
  height: 400px;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 244, 225);
  border-radius: 40px;
  display: grid;
  grid-gap: 48px;
  padding: 20px;
}

.popular-timer-container {
  background-color: rgb(181, 247, 225);
  margin-top: 40px;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
}

.timer-container #btn-start {
  padding: 2px 2px;
  justify-content: center;
}

.popular-timer-container h2 {
  font-size: 27px;
  color: rgb(20, 4, 88);
}

.ipt input {
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.timer-container h3 {
  font-size: 20px;
  color: rgb(20, 4, 88);
}

.timer-container button {
  margin: 10px 10px;
  width: 50px;
  height: 30px;
  font-size: 10px;
  border-radius: 15px;
  cursor: pointer;
}

#currentTime {
  margin: 10px;
  color: rgb(1, 11, 80);
}

.timer-container button:hover {
  background-color: rgb(14, 22, 20);
  color: #fff;
}
