.calculator-container {
  top: 30%;
  left: 41%;
}
.calculator-display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
  height: 100px;
  width: 400px;
}

.operator {
  background-color: #4436de;
  color: #fff;
  font-size: 1.714285714em;
  height: 100px;
  width: 100px;
}

.keys {
  background-color: #e4e3ec;
  color: #171616;
  font-size: 1.714285714em;
  height: 100px;
  width: 100px;
}

.rowTwo {
  display: flex;
  margin-left: 38.45%;
  height: 100px;
}
.rowThree {
  display: flex;
  margin-left: 38.45%;
}

.rowFour {
  display: flex;
  margin-left: 38.45%;
}
.rowFive {
  display: flex;
  margin-left: 38.45%;
}

button.equal {
  background-color: #18c47c;
  font-size: 1.714285714em;
  height: 400px;
  width: 100px;
  display: flex;
  padding-top: 175px;
  padding-left: 40px;
}
