h1 {
  margin-left: 250px;
  margin-top:150px;
  font: 3em sans-serif;
  color: aliceblue;
  font-size: 80px;
  inline-size: 1px;
  font-family: "Open Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
