/* .firstname,
.lastname,
.message,
.email,
.subject {
  display: flex;
  margin-left: 200px;
} */
/* label {
  font-size: 17px;
  color: aliceblue;
  height: 100px;
  padding: 0px;
  text-align: center;
  align-items: center;
} */
/* .bodyContainer{
    background: linear-gradient(to right, #a8caba, #160f53);
} */
.form-container {
  height: 750px;
  width: 77%;
  background-color: rgb(190, 240, 223);
  margin-left: 200px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.form-container h1 {
  margin-left: 5px;
  justify-content: left;
  font-size: 80px;
  font-family: "Open Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.textbox textarea {
  left: 42%;
  height: 250px;
  width: 631px;
  position: relative;
  margin-left: 65px;
  margin-top: 55px;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #989898;
}

.form-row input {
  left: 45%;
  margin-top: 150px;
  width: 300px;
  height: 35px;
  position: relative;
  margin-left: 25px;
  margin-bottom: 90px;
  display: grid;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #989898;
  /* align-items: center;
  height: 20px;
  width: 250px;
  margin-left: 90px;
  margin-bottom: 10px; */
}
.form-container .form-row {
  align-items: center;
  height: 50px;
  display: flex;
}

.form-container button {
  padding: 0.6rem 1.3rem;
  background-color: #ffffff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 45px;
  width: 48%;
  display: grid;
  margin-left: 47%;
}

.form-container button:hover {
  background-color: rgb(9, 76, 117);
  color: #fff;
}
