.form-container {
  margin-left: auto;
  margin-right: auto;
  height: 750px;
  width: 77%;
  background-color: transparent;
  margin-top: 100px;
  border-radius: 50px;
  display: flex;
}

.form-container h1 {
  margin-left: 90px;
  inline-size: 150px;
  margin-top: 16%;
  font-size: 80px;
  font-family: "Open Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.textbox textarea {
  left: 43.5%;
  margin-top: 25%;
  height: 250px;
  width: 91%;
  position: relative;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #989898;
}

.form-row #firstname,
.form-row #lastname,
.form-row #subject,
.form-row #email {
}
.form-container .form-row {
  height: 50px;
  display: flex;
  margin-bottom: 15px;
}

.form-container button {
  padding: 0.6rem 1.3rem;
  background-color: #ffffff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 45px;
  width: 92%;
  display: grid;
  margin-left: 43.5%;
}

.form-container button:hover {
  background-color: rgb(12, 39, 150);
  color: #fff;
}

.icon {
  display: grid;
  color: rgb(1, 9, 80);
}
