a {
  font-size: 23px;
  color: white;
  text-indent: 8px;
  padding: 10px;
  text-decoration: none;  /* gets rid of underline */
}

.navbar {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  font-size: 20px;
  height: 40px;
  pointer-events: auto;
  padding: 10;
}

.container {
  margin: 300px;
}
a.searchBar {
  padding-right: 40px;
}
