/* .btn {
  padding: 0.6rem 1.3rem;
  background-color: #171e83;
  border: 3px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 45px;
  width: 10%;
  display: grid;
  margin-left: 45%;
} */
